html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/*----------header---------*/

header {
    background-color: #ffffff;
}

ul {
    margin: 0;
}

.site-total-nav {
    display: block;
}

.column-logo {
    margin-left: 15px;
}

.site-header .note-header p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.note-header {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}

.comlumn-note {
    display: inline-flex;
    align-items: center;
}

.column-note span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.column-note label {
    margin-bottom: 0;
    color: #9b9b9b;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-nav {
    display: flex;
    align-items: center;
}

.column-menu ul {
    display: flex;
    justify-content: space-between;
}

.column-menu li {
    margin-right: 20px;
}

.column-menu i {
    color: black;
    margin-left: 7px;
}

.column-menu a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: black;
    line-height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.column-meta {
    margin: 0 15px 0 30px;
}

.column-meta i {
    margin-right: 20px;
    font-size: 14px;
}

.column-meta a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #47a145;
    text-decoration: none;
    color: white;
    padding: 13px 13px;
    border-radius: 3px;
}

.column-menu .sub-menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    padding: 28px 0;
    min-width: 235px;
    visibility: hidden;
    transform: translateY(7%);
    opacity: 0;
    z-index: 99;
}

.mastmenu :hover .a {
    color: #47a145;
}

.menu-item .a {
    position: relative;
}

.sub-menu li {
    margin-bottom: 5px;
}

.sub-menu a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #9b9b9b;
    font-size: 14px;
    line-height: normal;
    padding: 9px 0;
    position: relative;
}

.sub-menu i {
    color: #47a145;
    margin-right: 5px;
}

.sub-menu .slide {
    color: #47a145;
    transform: translateX(-170%);
    opacity: 0;
    transition: all 0.7s;
}

.sub-menu a:hover {
    color: #47a145;
    transition: 0.5s;
}

.sub-menu li:hover .slide {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.7s;
}

.home-menu .a,
.home-menu i {
    color: #47a145;
}

.mastmenu li .a {
    display: block;
}

.mastmenu li .a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    background-color: #47a145;
    opacity: 0;
}

.mastmenu .home-menu .a-home::before {
    opacity: 1;
}

.mastmenu li .a:hover::before {
    transition: all .3s linear 0ms;
    opacity: 1;
}

.mastmenu :hover .fa-angle-down {
    color: #47a145;
}

.sub-menu .mid {
    color: #47a145;
}

.mastmenu :hover .sub-menu {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s;
}

.sub-menu .column-sub {
    display: flex;
}

.width-sub {
    width: 285px;
}

.sub-menu .sub1 {
    border-right: 1px solid #eaeaea;
}

.width-sub p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 40px;
}

.column-meta i:hover {
    color: #47a145;
}

.column-meta a:hover {
    color: white;
    background-color: black;
    transition: all 0.3s linear;
}


/*---------title page ------------*/


/* .site-tile-page .slide1 {
    width: 100%;
    height: 100%;
    padding: 0 0 660px 0;
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: -2;
} */


/* .slick-site-tile {
    position: absolute;
    top: 0;
} */

.mySlide-slick .slide1 {
    background-image: url(../image/background1.jpg);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 0px 100px 250px; */
}

.mySlide-slick .slide2 {
    background-image: url(../image/background2.jpg);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 0px 100px 250px; */
}


/* .mySlide {
    -webkit-animation-name: mySlide;
    -webkit-animation-duration: 1s;
    animation-name: mySlide;
    animation-duration: 1s;
} */


/* @-webkit-keyframes mySlide {
    from {opacity: .4} 
    to {opacity: 1}
  } */


/* @keyframes mySlide {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
} */


/* .site-tile-page .header-tilte-page {
      position: absolute;
      padding-top: 152px;
      z-index: 15;
  } */

.site-tile-page {
    position: relative;
}

.site-tile-page .mySlide-slick .slick-prev {
    display: block;
    z-index: 5;
    left: 25px;
}

.site-tile-page .mySlide-slick .slick-next {
    display: block;
    z-index: 5;
    right: 25px;
}

.site-tile-page .mySlide-slick .slick-prev::before {
    background-image: url(../image/prev-ct4.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 21px;
    height: 42px;
    display: inline-block;
    content: "";
    cursor: pointer;
    top: 40%;
}

.site-tile-page .mySlide-slick .slick-next::before {
    background-image: url(../image/next-ct4.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 21px;
    height: 42px;
    display: inline-block;
    content: "";
    cursor: pointer;
    top: 40%;
}

.site-tile-page .header-tilte-page {
    padding-top: 150px;
    padding-bottom: 150px;
}

.site-tile-page .header-tilte-page .p1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.header-tilte-page h2 {
    font-family: "Bralow", sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: white;
}

.header-tilte-page .p2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: white;
    line-height: 26px;
    height: auto;
    width: 100%;
    white-space: normal;
}

.btn-header-title-page {
    align-items: center;
    display: flex;
}

.btn-header-title-page a {
    text-decoration: none;
}

.btn-our {
    color: white;
    width: 170px;
    height: 61px;
    line-height: 61px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: #47a145;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    border-radius: 2px;
}

.btn-header-title-page .btn-our:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    transition: all 0.2s linear;
}

.play-audio ul i {
    font-size: 17px;
    color: #0e2b3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-audio ul li {
    display: flex;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}

.btn-audio {
    margin-left: 40px;
}

.play-audio ul a {
    width: 61px;
    height: 61px;
    line-height: 61px;
    text-align: center;
    display: block;
    background-color: white;
    position: relative;
    border-radius: 100%;
}

.play-audio ul a::before {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: block;
    content: "";
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.3s linear 0ms;
}

.play-audio ul a:hover::before {
    transform: scale(1.1, 1.1);
}

.btn-header-title-page .btn-video {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 15px;
    color: white;
    margin-left: 40px;
    line-height: 26px;
}


/*---------Content-------------*/


/*----------Content1------------*/

.site-content {
    background-image: url(../image/bgr_content1.jpg);
    width: 100%;
    height: 390px;
    background-position: center;
    background-size: cover;
}

.site-content .slick-content1 .slick-prev::before {
    display: none;
}

.site-content .slick-content1 .slick-next::before {
    display: none;
}


/* .contents-content-one {
    display: flex;
} */

.column-header-ct {
    display: block;
    background-color: #ffffff;
    padding: 40px 0 0 40px;
}

.column-padding {
    padding: 10px;
}

.column-padding p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 40px 0 0 40px;
    color: white;
}

.column-header-ct {
    padding-bottom: 40px;
}

.column-header-ct h2 {
    margin-top: 20px;
    font-family: "Bralow", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.column-header-ct .btn-fcb {
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.column-header-ct a i {
    font-size: 12px;
    color: white;
    line-height: 1;
}

.btn-fcb {
    position: absolute;
    left: 40px;
    bottom: -15px;
    transition: all 0.3s linear;
}

.column-header-ct {
    position: relative;
}

.footer-content-one a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    transition: all 0.3s;
}

.footer-content-one {
    text-align: center;
    margin-top: 10px;
}

.footer-content-one p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.content {
    transform: translateY(-80px);
}


/* .column-header-ct i::before {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid red;
} */


/* .column-header-ct i:hover {
    font-size: 10px;
    color: red;
} */

.column-content {
    padding: 10px 10px 10px 0;
}

.column-content img {
    transition: all 0.5s linear;
}

.column-content :hover img {
    transform: translate(2px, -5px);
    transition: all 0.5s linear;
}

.column-content :hover .btn-fcb {
    transform: scale(1.3, 1.3);
    left: 50px;
    box-shadow: 3px 3px 3px 0 #c5c2c2;
}

.footer-content-one a:hover {
    color: black;
    border-bottom: black;
    transition: all 0.3s;
}


/*------content-two---------*/

.title-content-two {
    text-align: center;
    padding-top: 130px;
}

.title-content-two p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #47a145;
}

.title-content-two h2 {
    font-family: "Bralow", sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #0e2b3d;
    line-height: 54px;
}

.column-content-two {
    display: flex;
    justify-content: space-between;
}

.colum-content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
}

.colum-content h3 a {
    font-family: "Bralow", sans-serif;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}

.colum-content h3 {
    margin: 35px 0 0;
}

.padding-content-two {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 3px 83px rgb(14 43 61 / 12%);
    /* box-shadow: 0 3px 83px red; */
}

.content-two .slick-list {
    padding: 50px 40px;
    margin-left: -30px !important;
    margin-right: -30px !important;
    overflow: hidden;
}

.content-two .slick-list .slick-slide {
    opacity: 0;
}

.content-two .slick-list .slick-active {
    opacity: 1;
}

.slick-prev {
    display: none;
}

.slick-next {
    display: none;
}

.content-two .slider .slick-next {
    display: none !important;
}


/* .content-two .slide {
    margin-left: -50px;
    margin-right: -50px;
} */

.padding-content-two .btn {
    margin-left: 5px;
    border-radius: 2px;
    display: inline-block;
    height: 42px;
    color: #fff;
    transition: all 0.3s linear 0ms;
    padding-left: 30px;
}

.padding-content-two li {
    border-radius: 2px;
    width: 150px;
    background-color: #0e2b3d;
}

.padding-content-two i {
    position: relative;
    background-color: #fff;
    color: #47a145;
    opacity: 0;
    line-height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    transform: translateX(30%);
    transition: all 0.3s linear 0ms;
    margin-left: -10px;
    top: 2px;
}

.colum-content {
    padding: 15px;
}

.colum-content :hover li {
    background-color: #47a145;
}

.colum-content :hover i {
    transform: translateX(-10px);
    transition: all 0.3s linear 0ms;
    opacity: 1;
}

.colum-content :hover .btn {
    transform: translateX(-10%);
    transition: all 0.3s linear 0ms;
}

.colum-content :hover h3 a {
    color: #47a145;
    transition: all 0.3s;
}

.site-content .slick-dots li button:before {
    font-size: 10px;
}


/*-----------reponsive---------*/

.menu-rp {
    display: none;
}


/* .nav-menu-rp {
    display: none;
} */

.site-header .nav-menu-rp {
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    top: 100%;
    transform: translateY(20%);
    transition: all 0.3s linear;
    opacity: 0;
}

.colum-content {
    padding-top: 50px;
}

.footer-content-two {
    z-index: 20;
}

.footer-content-two a {
    line-height: 30px;
    text-decoration: none;
    color: black;
}

.footer-content-two i {
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
}

.footer-content-two p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.footer-content-two span {
    color: #9b9b9b;
}

.footer-content-two a:hover {
    color: #47a145;
}

.footer-content-two a:hover i {
    color: white;
    background-color: #47a145;
}

.footer-content-two {
    padding: 30px 0;
    /* text-align: left; */
}

.content-two {
    border-bottom: 1px solid #eaeaea;
}

.slide-content-two {
    padding: 45px 0;
}

.column-ft {
    align-items: center;
}

.slide-content-two .slick-list .slick-slide a {
    cursor: pointer;
    outline: none;
}

.slide-content-two .autoplay button {
    display: none !important;
}


/*------ content-3 -------------*/

.content-three {
    position: relative;
}

.content-three .container {
    margin-bottom: 40px;
}

.position-content {
    width: 100%;
    height: 100%;
    background-image: url(../image/bgr_content3.png);
    background-size: cover;
    padding: 122px 0px 100px;
    margin: 0 0 115px;
}

.margin-content3 {
    margin-right: 60px;
}

.title-content3 h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 37px;
    line-height: 54px;
    color: white;
}

.title-content3 p {
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    color: white;
}

.ct-content3 h3 {
    color: white;
}

.ct-content3 p {
    color: white;
}

.ct-content3 {
    margin-top: 80px;
}

.part-content {
    display: flex;
    margin-top: 50px;
}

.img-part {
    margin-right: 30px;
}

.content-part h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 15px;
    line-height: 30px;
}

.content-part p {
    color: #8097a1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 26px;
}

.content-part li {
    text-decoration: none;
}

.content-part a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s linear 0ms;
}

.content-part a:hover {
    color: white;
}

.content-part i {
    color: white;
    height: 22px;
    width: 22px;
    background-color: #47a145;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 22px;
    transform: translateX(-100px);
    transition: all 0.2s linear 0ms;
}

.part-content:hover a {
    opacity: 1;
    transition: all 0.2s linear 0ms;
    transform: translateX(0%);
}

.part-content:hover i {
    transform: translateX(0px);
    transition: all 0.2s linear 0ms;
}

.part-content:hover img {
    transform: translate(-10px, 10px);
    transition: all 0.2s;
}

.item-img img {
    width: 100%;
}

.wp-box-content3 {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.box-meta a {
    height: 36px;
    min-width: 54px;
    border-radius: 2px;
    text-decoration: none;
}

.box-meta i {
    color: black;
}

.box-meta a {
    position: relative;
    background-color: white;
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.2s;
}

.btn-span1 {
    position: absolute;
}

.btn-span2 {
    position: absolute;
}

.btn-span3 {
    position: absolute;
}

@keyframes span1 {
    0% {
        border: 3px solid white;
        border-radius: 3px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }
    25% {
        border: 3px solid white;
        border-radius: 3px;
        top: -5px;
        left: -10px;
        right: -10px;
        bottom: -5px;
        opacity: 0.5;
    }
    50% {
        border: 3px solid white;
        border-radius: 3px;
        top: -10px;
        bottom: -10px;
        right: -15px;
        left: -15px;
        opacity: 0.5;
    }
    100% {
        border: 3px solid white;
        border-radius: 3px;
        top: -15px;
        bottom: -15px;
        right: -20px;
        left: -20px;
        opacity: 0;
    }
}

.hover-content3 {
    position: sticky;
    top: 0;
}

.hover-content3:hover .btn-span1 {
    animation-name: span1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.hover-content3:hover .btn-span2 {
    animation-name: span1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.hover-content3:hover .btn-span3 {
    animation-name: span1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}


/*-------Snake Border And Neon Light Effect Buttons-----*/

.evaluate-content3 {
    margin-top: 20px;
    float: right;
    display: flex;
}

.star {
    text-align: right;
    width: 40%;
    font-size: 13px;
    color: #47a145;
    padding-right: 20px;
}

.title2-content3 {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.title2-content3 p {
    color: white;
}

.title2-content3 span {
    font-weight: 700;
    border-bottom: 3px solid #47a145;
}

.margin-content3 {
    width: 80%;
}


/*----------------content 4----------*/

.column1-content4 p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #47a145;
    margin-bottom: 8px;
}

.column1-content4 h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #0e2b3d;
    line-height: 1.5;
}

.column2-content4 p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9b9b9b;
}

.contents-content-four {
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}

.column1-content4 p::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 2px;
    margin-right: 30px;
    background-color: #47a145;
    position: relative;
    top: -3px;
}

.custom-heading {
    margin-top: 0;
    margin-bottom: 15px;
}

.column1-content4 {
    margin: 0 15% 0 0;
}

.heading-column2 {
    margin: 42px 0 30px;
}

.btn-content4 {
    display: flex;
}

.btn-pre-4 {
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #47a145;
    border-radius: 3px;
}

.btn-pre-4 a {
    padding: 0 30px;
    line-height: 60px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.btn-pre-4 i {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    background-color: white;
    line-height: 22px;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    color: #47a145;
}

.btn-pre-4:hover {
    background-color: #0c092d;
    color: white;
    transition: 0.3s;
}

.btn-next-4 a {
    padding: 0 30px;
    line-height: 60px;
    font-size: 15px;
    text-decoration: none;
    color: #47a145;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.btn-next-4 i {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: #47a145;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    color: white;
}

.btn-next-4:hover a {
    color: #0c092d;
    transition: 0.3s;
}

.btn-next-4:hover i {
    background-color: #0c092d;
    color: white;
    transition: 0.3s;
}

.carousel-content-4 {
    padding: 10px;
}

.carousel-content-4 img {
    max-width: 100%;
    height: 100%;
}

.carousel-content-4 p {
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
}

.carousel-content-4 p a {
    text-decoration: none;
    color: black;
}

.carousel-content-4 h3 a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #47a145;
    text-decoration: none;
}

.entry-body {
    padding: 22px 20% 0 0;
    margin-bottom: 0;
    transition: all .3s linear 0ms;
}

.entry-body:hover p a {
    color: #47a145;
    transition: all .3s linear 0ms;
}

figure {
    overflow: hidden;
}

.img-frames {
    position: relative;
}

.img-frames img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.img-frames #zoom-in img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.img-frames #zoom-in:hover img {
    transform: scale(1.2);
}

.slick-content4 .slick-track .slick-slide {
    width: 470px;
}

.contents-content-four .img-frames #zoom-in a {
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, .25);
    opacity: 0;
    transition: all .3s linear 0ms;
}

#zoom-in span {
    text-align: center;
    height: 62px;
    line-height: 66px;
    width: 62px;
    display: block;
    background-color: #fff;
    background-image: none;
    z-index: 1;
    font-size: 20px;
    color: #0e2b3d;
    border-radius: 100%;
}

.carousel-content-4:hover #zoom-in a {
    opacity: 1;
    transition: all .5s linear 0ms;
}

#zoom-in a:hover i {
    color: #47a145;
    transition: all .3s linear 0ms;
}

.contents-content-four .slick-content4 .slick-prev {
    z-index: 99;
    left: 50px;
    top: 35%;
}

.contents-content-four .slick-content4 .slick-prev::before {
    background-image: url(../image/prev-ct4.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 21px;
    height: 42px;
    display: inline-block;
    content: "";
    cursor: pointer;
    top: 40%;
}

.contents-content-four .slick-content4 .slick-next {
    z-index: 99;
    right: 50px;
    top: 35%;
    display: block !important;
}

.contents-content-four .slick-content4 .slick-next::before {
    background-image: url(../image/next-ct4.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 21px;
    height: 42px;
    display: inline-block;
    content: "";
    cursor: pointer;
    top: 40%;
}


/*--------content 5 -------------*/

.title-ct5 {
    width: 100%;
    height: 100%;
    background-image: url(../image/im-ct5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.column1-ct5 h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 48px;
}

.form-ct5 input {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid #e7ebef;
    color: inherit;
    padding: 8px 19px;
    line-height: normal;
    height: 61px;
    width: 100%;
    outline: none;
    box-shadow: none;
    margin-bottom: 27px;
}

.form-ct5 input:focus {
    border: 2px solid #47a145;
}

.form-ct5 .add {
    height: 120px;
    line-height: normal;
}


/* ::-webkit-input-placeholder {
    color: inherit;
    height: 61px;
    width: 100%;
    outline: none;
    box-shadow: none;
} */

.check-ct5 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.btn-submit a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.heading2-ct5 h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 1.3;
}

.heading2-ct5 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
}

.btn-st-mr a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.title2-ct5 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.column1-ct5 {
    padding: 50px 30px;
    background-color: white;
    margin-top: 50px;
    transform: translateY(10%);
    box-shadow: 0 5px 83px rgb(40 40 40 / 20%);
}

.form-ct5 {
    margin-top: 30px;
}

.check-ct5 {
    display: flex;
    align-items: center;
}

.check-ct5 input {
    margin-right: 20px;
}

.btn-submit {
    margin-top: 25px;
    text-align: center;
    background-color: #47a145;
    border-radius: 2px;
    transition: al .5s linear 0ms;
}

.btn-submit a {
    text-decoration: none;
    color: white;
    line-height: 61px;
}

.btn-submit:hover {
    background-color: #0e2b3d;
    transition: al .5s linear 0ms;
}

.column2-ct5 {
    margin: 0 0 0 90px;
    padding: 0;
    margin-top: 105px;
    padding-bottom: 20px;
}

.heading2-ct5 {
    margin: -16px 0 35px;
    padding: 0 20% 0 0;
}

.heading2-ct5 h3 {
    margin-top: 0;
    margin-bottom: 35px;
    color: #f9f9f9;
    font-size: 37px;
    line-height: 54px;
}

.heading2-ct5 p {
    color: white;
}

.btn-st {
    margin: 0 30px 35px 0;
    background-color: #0e2b3d;
    color: #fff;
    text-transform: capitalize;
    padding: 0 30px;
    line-height: 60px;
    transition: all .3s linear 0ms;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.btn-st i {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    line-height: 23px;
    color: #0e2b3d;
    background-color: #fff;
    border-radius: 50%;
}

.btn-st:hover {
    color: #47a145;
    background-color: white;
}

.btn-st:hover i {
    color: white;
    background-color: #47a145;
}

.btn-mr {
    line-height: 60px;
}

.btn-mr i {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    line-height: 23px;
    color: #47a145;
    border-radius: 50%;
    background-color: white;
    text-align: center;
}

.btn-mr {
    color: white;
    text-decoration: none;
}

.btn-mr:hover {
    color: white;
}

.title2-ct5 {
    display: flex;
    justify-content: space-between;
    color: white;
}

.title2-ct5 i {
    margin-right: 5px;
    font-size: 18px;
}

select {
    height: 51px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid #e7ebef;
    color: inherit;
    padding: 8px 25px 8px 19px;
    line-height: normal;
    height: 61px;
    width: 100%;
    outline: none;
    box-shadow: none;
    margin-bottom: 27px;
}

.wpcf7-form-control:focus {
    border: 2px solid #47a145;
}

.elementer-content4 {
    overflow: hidden;
    margin-left: 5%;
}


/*----------------content-6-----------------*/

.contents-content-6 p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #47a145;
    line-height: 40px;
}

.contents-content-6 h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #0c092d;
}

.contents-content-6 {
    margin-top: 130px;
    text-align: center;
}

.img1-ct6 {
    position: relative;
}

.title-ct6 .img-ct6 img {
    width: 100%;
    height: auto;
}

.bgr-ct6 {
    position: relative;
}

.item-ct6 {
    display: flex;
}

.item-inner {
    position: absolute;
}

.item-inner:nth-child(1) {
    top: 20%;
    left: 6%;
}

.item-inner:nth-child(2) {
    top: 52%;
    left: 22%;
}

.item-inner:nth-child(3) {
    top: 46%;
    left: 46%;
}

.item-inner:nth-child(4) {
    top: 9%;
    left: 70%;
}

.item-inner:nth-child(5) {
    top: 40%;
    left: 74%;
}

.item-holder {
    position: absolute;
    opacity: 0;
    bottom: 60px;
    left: 50%;
    transition: all .3s linear 0ms;
    visibility: hidden;
    z-index: 999;
    margin-bottom: -20px;
}

.item-holder::after {
    content: "";
    bottom: -10px;
    left: 0;
    position: absolute;
    display: block;
    border-top: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #fff;
}

.item-excerpt {
    max-width: 335px;
    min-width: 320px;
    background-color: #fff;
    box-shadow: 0 5px 23px rgba(40, 40, 40, .08);
    padding: 25px 23px 25px 30px;
    border-radius: 2px;
    font-weight: 700;
    color: #0e2b3d;
    position: relative;
}

.item-image {
    position: relative;
    width: 44px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: all .3s linear 0ms;
    /* border: 2px solid red; */
    /* padding: 4px; */
}

.item-inner:hover .item-holder {
    transform: translateY(-15px);
    opacity: 1;
    visibility: visible;
    transition: all .5s linear 0ms;
}

.right-holder {
    position: absolute;
    opacity: 0;
    bottom: 60px;
    right: 50%;
    transition: all .3s linear 0ms;
    visibility: hidden;
    z-index: 999;
    margin-bottom: -20px;
}

.item-inner:hover .right-holder {
    transform: translateY(-15px);
    opacity: 1;
    visibility: visible;
    transition: all .5s linear 0ms;
}

.right-holder::after {
    content: "";
    bottom: -10px;
    right: 0;
    position: absolute;
    display: block;
    border-top: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #fff;
}

.inner-ct6 {
    display: flex;
    background-color: rgba(228, 231, 233, .5);
}

.item-cta1 {
    background-color: white;
    border-radius: 2px 0 0 2px;
    display: flex;
    box-shadow: 0 5px 23px rgba(40, 40, 40, .08);
    padding: 45px 50px;
    padding-right: 75px;
    align-items: center;
}

.item-image {
    margin-right: 20px;
    min-width: 75px;
    max-width: 80px;
}

.item-content h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.item-content h3 a {
    color: #0e2b3d;
    text-decoration: none;
    transition: all .3s linear 0ms;
}

.item--title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #9b9b9b;
}

.item-cta2 {
    background-color: white;
    position: relative;
    padding-left: 75px;
    border-radius: 2px 0 0 2px;
    display: flex;
    box-shadow: 0 5px 23px rgba(40, 40, 40, .08);
    align-items: center;
    margin-left: 10px;
}

.item2-image {
    margin-right: 20px;
    min-width: 75px;
    max-width: 80px;
}

.item2-content h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.item2-content h3 a {
    color: #0e2b3d;
    text-decoration: none;
    transition: all .3s linear 0ms;
}

.item2--title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #9b9b9b;
}

.item-cta2::before {
    position: absolute;
    background-color: #fff;
    width: 74px;
    height: 74px;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    border: 10px solid #e4e7e9;
    display: block;
    content: "or";
    font-weight: 700;
    color: #0e2b3d;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
}

.item-content a:hover,
.item2-content a:hover {
    color: #47a145;
    transition: all .3s linear 0ms;
}

.title-plans-ct6 {
    text-align: center;
    margin-top: 40px;
}

.title-plans-ct6 h3 {
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #9b9b9b;
}

.title-plans-ct6 a {
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #0e2b3d;
    transition: all .3s linear 0ms;
}

.title-plans-ct6 i {
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all .3s linear 0ms;
    background-color: #0e2b3d;
    line-height: 24px;
    text-align: center;
}

.title-plans-ct6 a:hover {
    color: #47a145;
    transition: all .3s linear 0ms;
}

.title-plans-ct6 a:hover i {
    background-color: #47a145;
}

.img-pos {
    background-image: url(../image/bgr2-ct6.png);
    width: 100%;
    height: 100%;
    margin-top: -160px;
    margin-bottom: 125px;
    padding: 0 10px 93px;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
}

.title2-ct6 {
    z-index: 5;
}


/*-----------------content-7-------------*/

.header-ct7 {
    text-align: center;
}

.subheading-ct7 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #47a145;
    font-weight: 700;
}

.heading-ct7 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 37px;
    line-height: 1.5;
    font-family: 'Barlow', sans-serif;
    color: #0e2b3d;
    font-weight: 700;
}

.title-ct7 {
    padding-bottom: 80px;
}

.slick-title-ct7 .column-ct7 {
    width: 100%;
}

.slick-title-ct7 {
    padding-right: 15px;
}

.img-ct7 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
}

.img-ct7 img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all .3s ease-in-out 0ms;
}

.column-slick-ct7:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in-out 0ms;
}

.content-ct7 {
    padding: 0 30px;
}

.content-ct7 p {
    color: #0e2b3d;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.content-ct7 h3 a {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 21px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.content-ct7 h4 {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9b9b9b;
}

.btn-ct7 a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #0e2b3d;
    transition: all .3s linear 0ms;
}

.btn-ct7 a::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all .3s linear 0ms;
    background-color: #47a145;
}

.btn-ct7 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

.btn-ct7 i {
    position: absolute;
    right: -38px;
    top: 1px;
    opacity: 0;
    transition: all .3s linear 0ms;
    margin-left: 5px;
    background-color: #47a145;
    color: #fff;
    margin-right: 9px;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 22px;
    font-size: 11px;
    text-align: center;
}

.column-slick-ct7:hover i {
    opacity: 1;
    transform: translateX(3%);
    transition: all .3s linear 0ms;
}

.column-slick-ct7:hover a {
    color: #47a145;
    transition: all .3s linear 0ms;
}

.column-slick-ct7:hover .ta {
    color: white;
}

.column-slick-ct7:hover .btn-ct7 a::after {
    opacity: 0;
    transition: all .3s linear 0ms;
}

.item-category {
    position: absolute;
    left: 30px;
    z-index: 1;
    top: 30px;
    background-color: #47a145;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 2px;
    color: #fff;
}

.item-category a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 0;
    width: auto;
    background-color: transparent;
    text-decoration: none;
}

.footer {
    background-color: #0a2d43;
}

.content-footer {
    line-height: 33px;
    padding-top: 120px;
    padding-bottom: 80px;
}

.colums-flex {
    display: flex;
}

.colums-flex h3,
.columns-inout h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.765;
    margin-top: -4px;
    margin-bottom: 27px;
    color: white;
}

.colums-flex a {
    color: white;
    text-decoration: none;
    transition: all .3s linear 0ms;
    font-size: 14px;
    line-height: 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.colums-flex a:hover {
    color: #47a145;
    transition: all .3s linear 0ms;
}

.input-footer input {
    height: 60px;
    border-radius: 3px;
    background-color: #00243b;
    font-size: 14px;
    color: #8097a1;
    font-style: normal;
    padding: 0 19px;
    width: 100%;
    border: 1px solid #00243b;
}

.input-footer input:focus {
    outline: 1px solid #47a145;
}

.input-footer {
    position: relative;
}

.input-footer i {
    font-size: 11px;
    color: #0e2b3d;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 22px;
    background-color: #fff;
    position: absolute;
    top: 35%;
    right: 8%;
    transition: all .3s linear 0ms;
    text-align: center;
}

.input-footer i:hover {
    background-color: #47a145;
    color: white;
    transition: all .3s linear 0ms;
}

.input-check {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.input-check input:focus {
    background-color: transparent;
    border: 1px solid #47a145;
}

.input-check p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: white;
    margin-left: 15px;
}

.content-footer {
    border-bottom: 1px solid rgba(230, 233, 235, .1);
}

.link-footer {
    padding: 30px 0;
    align-items: center;
    position: relative;
}

.link-footer .row {
    align-items: center;
}

.space-link {
    display: flex;
    justify-content: space-between;
}

.link-left h3 {
    margin: 0;
}

.link-left p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #f9f9f9;
    margin: 0;
}

.link-left a {
    text-decoration: none;
    color: #f9f9f9;
}

.link-right {
    display: flex;
    justify-content: flex-end;
}

.icon-link {
    margin-right: 20px;
    margin-left: -3px;
}

.icon-link i {
    margin: 5px 14px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    transition: all .3s linear 0ms;
}

.icon-link i:hover {
    color: #47a145;
    transition: all .3s linear 0ms;
}

.a-link img {
    margin-right: 20px;
}

.prev-home-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}

.content-two .slick-dots {
    text-align: right;
    transform: translateY(57px);
}

.content-two .slick-dots li button::before {
    opacity: 1;
}

.content-two .slick-dots .slick-active button {
    width: 13px;
    height: 13px;
}

.content-two .slick-dots .slick-active button::before {
    color: transparent;
    border: 3px solid #47a145;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: transparent;
}

a,
i {
    cursor: pointer;
    outline: none;
}

.icon-link::before {
    content: none;
}

.slick-slide {
    outline: none;
}

.title2-ct5 {
    margin-bottom: 10px;
}

.co_dinh {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

.prev-home-footer-1 {
    position: absolute;
    padding: 5px 8px;
    background-color: white;
    border-radius: 2px;
    right: 5%;
    bottom: 15%;
    display: none;
}

.prev-home-footer-1 i {
    font-size: 25px;
    color: black;
}